<div class="container">

  <h3 style="text-align: center;margin-top: 20px;">User Listing</h3>
  <div class="row" >

  <div *ngFor="let item of user">

    <div class="col col-md col-xs">
  <div class="card" style="margin: 10px 0px;width:300px;height: 270px;">
    <!-- <div class="card-body">      
   
      </div> -->
      <div class="card-body">

        <!-- Title -->
        <h4 class="card-title"><a><p>{{item.name}}'s Details</p></a></h4>
        <p class="card-text">{{item.name}}</p>
       <p class="card-text"> {{item.dob | date:'MMM d, y'}}</p>
        <p class="card-text">{{item.email}}</p>
        <p class="card-text"> {{item.status}}</p>
        <p class="card-text">{{item.male}}</p> 
        <a class="btn btn-primary" [routerLink]="[editvariable,item.id]">Edit</a>
        <a  class="btn btn-danger" (click)='deleteuser(item.id)'>Delete</a>
    
      </div>
  </div>
</div>
</div>
</div>
</div>


<router-outlet></router-outlet>
